body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color:black;
  padding: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
}

.container form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container form label{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.container input{
  padding: 8px;
  border-radius: 4px;
}

#message{
  color:blue;
  padding: 4px;
}

