body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color:black;
  padding: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
}

.container form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container form label{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.container input{
  padding: 8px;
  border-radius: 4px;
}

#message{
  color:blue;
  padding: 4px;
}

.operationBlock{
  padding: 20px;
  border: black 2px solid;
  border-radius: 8px;
  width: 350px;
  max-width: 350px;

  background-color: white;
}

#results{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width:100%;
}

#results div{
  font-size: 16px;
  font-weight: bold;
}

#results p{
  font-size: 14px;
}

#messagePost{
  color: blue;
  padding: 8px;
}

#messageGet{
  color: blue;
  padding: 8px;
}